.alerts {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 400px;
    min-height: 300px;
}

.alerts .alert {
    position: relative;
    border: none !important;
    margin-bottom: 8px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}

.alerts .alert .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -15px;
    width: 80px;
    text-align: center;
}

.alerts .alert .copy {
    margin-left: 60px;
    padding: 0 20px 10px 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 1.2;
}

.alerts .alert .copy h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.alerts .alert .copy p {
    font-size: 14px;
    margin-bottom: 0;
}

.alerts .alert .close {
    opacity: 1;
    background-color: #eee;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.alerts .alert.alert-info {
    background-color: #A3ADB2;
    color: #eee;
    box-shadow: 0 0 20px 5px rgba(163, 173, 178, 0.5);
}


.alerts .alert.alert-info .close {
    color: #A3ADB2;
    border-color: #A3ADB2;
}

.close__icon--info {
    fill: #A3ADB2;
}

.alerts .alert.alert-success {
    background-color: #A4B123;
    color: #eee;
    box-shadow: 0 0 20px 5px rgba(164, 177, 35, 0.5);
}

.alerts .alert.alert-success .close {
    color: #A4B123;
    border-color: #A4B123;
}

.close__icon--success {
    fill: #A4B123;
}

.alerts .alert.alert-warning {
    background-color: #E7B600;
    color: #eee;
    box-shadow: 0 0 20px 5px rgba(231, 182, 0, 0.4);
}

.alerts .alert.alert-warning .close {
    color: #E7B600;
    border-color: #E7B600;
}

.close__icon--warning {
    fill: #E7B600;
}

.alerts .alert.alert-danger {
    background-color: #C20000;
    color: #eee;
    box-shadow: 0 0 20px 5px rgba(194, 0, 0, 0.3);
}

.alerts .alert.alert-danger .close {
    color: #C20000;
    border-color: #C20000;
}

.close__icon--danger {
    fill: #C20000;
}

.close__icon {
    width: 15px;
    height: 25px;
    transform: translate(8px, 4px);
}


.icon__svg {
    width: 45px;
    height: 45px;
    fill: #eeeeee;
}

.icon__svg--info {
    transform: translate(23px, 2px);
}

.icon__svg--success {
    transform: translate(26px, 2px);
}

.icon__svg--danger {
    transform: translate(23px, 2px);
}

.icon__svg--warning {
    transform: translate(24px, 2px);
}







