<!DOCTYPE html>
<html lang="ru">

<head>

    <title>gallery</title>
    <link rel="stylesheet" href="css/gallery.css">
    <meta http-equiv="Content-type" content="text/html;charset=utf-8 width=device-width, initial-scale=1.0"/>
    <meta http-equiv="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="js/gallery.js"></script>
    <script src="../../popup/popup/js/popup.js"></script>

</head>
<body>


<div class="wrapper">
    <div class="content">

        <style>

            /*удаление стрелочки у инпута при наличии даталиста*/
            [list]::-webkit-calendar-picker-indicator {
                opacity: 0;
                display: none; /* remove default arrow */
            }

            /*добавление стрелочки у даталиста на всех устройствах*/
            .myarrow:after {
                pointer-events: none;
                background-image: url(https://i.stack.imgur.com/i9WFO.png);
                background-size: 9px 9px;
                width: 9px;
                height: 9px;
                content: "";
                position: absolute;
                top: 15px;
                right: 3px;
                opacity: 0.6;
            }

            input {
                border: 1px solid #ccc;
            }
        </style>
        <div>


            <form class="form" autocomplete=off action="{{ url }}" method="POST" id="form">
                <!--                {%csrf_token%}-->
                <div class="form__body">
                    <div class="form__element">
                        <span class="myarrow">
                            <input id="vedor_code" list="vedor_code_list" name="vedor_code" class="form__input"
                                   placeholder="Артикул" value=""
                                   onmouseover="focus(); old = value;"
                                   onmousedown="value = '';"
                                   onmouseup="value = old;">
                        </span>
                        <datalist id="vedor_code_list">
                            {% for vedor_code in data.0 %}
                            <option>{{ vedor_code }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form__element">
                        <span class="myarrow">
                            <input id="fason" list="fason_list" name="fason" class="form__input" placeholder="Фасон"
                                   value=""
                                   onmouseover="focus(); old = value;"
                                   onmousedown="value = '';"
                                   onmouseup="value = old;">
                        </span>
                        <datalist id="fason_list">
                            {% for fason in data.1 %}
                            <option>{{ fason }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form__element">
                     <span class="myarrow">
                         <input id="size" list="size_list" name="size" class="form__input" placeholder="Размеры"
                                value=""
                                onmouseover="focus(); old = value;"
                                onmousedown="value = '';"
                                onmouseup="value = old;">

                     </span>
                        <datalist id="size_list">
                            {% for size in data.2 %}
                            <option>{{ size }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form__element">
                        <span class="myarrow">
                            <input id="genders" list="genders_list" name="genders" class="form__input" placeholder="Пол"
                                   value=""
                                   onmouseover="focus(); old = value;"
                                   onmousedown="value = '';"
                                   onmouseup="value = old;">
                        </span>
                        <datalist id="genders_list">
                            {% for genders in data.3 %}
                            <option>{{ genders }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form__element">
                       <span class="myarrow">
                           <input id="Color" list="color_list" name="Color" class="form__input" placeholder="Цвет"
                                  value=""
                                  onmouseover="focus(); old = value;"
                                  onmousedown="value = '';"
                                  onmouseup="value = old;">
                       </span>
                        <datalist id="color_list">
                            {% for Color in data.4 %}
                            <option>{{ Color }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form__element">
                        <span class="myarrow">
                            <input id="season" list="season_list" name="season" class="form__input" placeholder="Сезон"
                                   value=""
                                   onmouseover="focus(); old = value;"
                                   onmousedown="value = '';"
                                   onmouseup="value = old;">
                        </span>
                        <datalist id="season_list">
                            {% for season in data.5 %}
                            <option>{{ season }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form__element">
                        <span class="myarrow">
                            <input id="name_manufacturer" list="manufacture_list" name="name_manufacturer"
                                   class="form__input" placeholder="Производитель" value=""
                                   onmouseover="focus(); old = value;"
                                   onmousedown="value = '';"
                                   onmouseup="value = old;">
                        </span>
                        <datalist id="manufacture_list">
                            {% for name_manufacturer in data.6 %}
                            <option>{{ name_manufacturer }}</option>
                            {% endfor %}
                        </datalist>
                    </div>

                    <div class="form__element forms-buttons">
                        <button class="btn-custom btn-primary-custom" type="submit">Поиск
                        </button>
                    </div>
                </div>

            </form>
        </div>


        <div class="content__gallery container">
            <div class="gallery">

                <div class="gallery__item">
                    <a href="#popupF" class="popup-link gallery__link">
                        <img src="https://botinki23.ru/media/test/200X288/00a2802c-0de0-4fdb-8e95-ebf04ab3e019NEw.webp"
                             class="gallery__img"
                             alt="Image 2">
                    </a>
                    <div class="item__information">

                    </div>
                </div>

                <div class="gallery__item">
                    <a href="#popupF" class="popup-link gallery__link">
                        <img src="https://botinki23.ru/media/test/200X288/1-30(Камуфляж)NEw.webp" class="gallery__img"
                             alt="Image 2">
                    </a>
                    <div class="item__information">

                    </div>
                </div>

                <div class="gallery__item">
                    <a href="#popupF" class="popup-link gallery__link">
                        <img src="https://botinki23.ru/media/test/200X288/0fa37636-d924-4bcd-b473-caffd557ad3dNEw.webp"
                             class="gallery__img"
                             alt="Image 2">
                    </a>
                </div>

                <div class="gallery__item">
                    <a href="#popupF" class="popup-link gallery__link">
                        <img src="https://botinki23.ru/media/test/200X288/0f561f8c-f9dd-4ca2-9b7d-456bb5f3ca0eNEw.webp"
                             class="gallery__img"
                             alt="Image 2">
                    </a>
                </div>

                <div class="gallery__item">
                    <a href="#popupF" class="popup-link gallery__link">
                        <img src="https://botinki23.ru/media/test/200X288/1b450da1-f4b0-48f5-a26a-0baafeb6462cNEw.webp"
                             class="gallery__img"
                             alt="Image 2">
                    </a>
                </div>

                <div class="gallery__item">
                    <a href="#popupF" class="popup-link gallery__link">
                        <img src="https://botinki23.ru/media/test/200X288/1c60cd0e-1cbf-47d5-be0f-fa1f3cd8dd75NEw.webp"
                             class="gallery__img"
                             alt="Image 2">
                    </a>
                </div>

                <div class="gallery__item">
                    <a href="#popupF" class="popup-link gallery__link">
                        <img src="https://botinki23.ru/media/test/200X288/1.2У(Черные)NEw.webp"
                             class="gallery__img"
                             alt="Image 2">
                    </a>
                </div>

            </div>
            <button id="btn1">1</button>
            <button id="btn2">2</button>
            <button id="btn3">3</button>
        </div>
    </div>
</div>

<div id="popupF" class="popup">
    <!--    <a href="##" class="popup__area"></a>-->
    <div class="popup__body">
        <div class="popup__content">
            <a href="##" class="popup__close close-popup">X</a> <!--Класс для закрытие попапа -->
            <div class="popup__title">Тапочки детские</div>
            <div class="popup__img">
                <img src="https://botinki23.ru/media/test/200X288/00a2802c-0de0-4fdb-8e95-ebf04ab3e019NEw.webp"
                     class=""
                     alt="Image 2">
            </div>
            <div class="popup__characteristics">
                <div class="popup__characteristic fason">Артикул: DF-18</div>
                <div class="popup__characteristic colvo">Кол-во в упаковке: 10<span>пар</span></div>
                <div class="popup__characteristic price">Цена за пару: 55<span>р</span></div>
                <div class="popup__characteristic price">Цена за короб: 550<span>р</span></div>
<!--                <div class="sizes">-->
<!--                    <label for="sizes" class="sizes__label">Размерный ряд:</label>-->
<!--                    <div class="input__wrapper">-->
<!--                        <span class="myarrow">-->
<!--                        <input name="sizes" class="sizes__input"-->
<!--                               list="sizes" placeholder="Выберите размер"-->
<!--                               value=""-->
<!--                               onmouseover="focus(); old = value;"-->
<!--                               onmousedown="value = '';"-->
<!--                               onmouseup="value = old;"-->
<!--                               oninput="this.style.width = ((this.value.length * 8)+20) + 'px'; this.style.fontSize = '18px'"/>-->
<!--                    </span>-->
<!--                    </div>-->
<!--                    <datalist id="sizes">-->
<!--                        <option value="36-41"></option>-->
<!--                        <option value="30-35"></option>-->
<!--                        <option value="41-45"></option>-->
<!--                    </datalist>-->
<!--                </div>-->
                <div class="popup__characteristic size">Размерный ряд: 36-41</div>
                <div class="popup__footer">
                    <div class="product__sizes">
                        <button id="minusButton" class="product__size" type="button">
                            -
                        </button>
                        <input type="number" min="0" name="" id="amount_{{ item.id }}"
                               class="product__input" onchange="calc_on_input('{{ item.id }}')"
                               value="0">
                        <button id="plusButton" class="product__size" type="button">
                            +
                        </button>
                    </div>
                    <div class="product__bottom">
                        <button class="product__btn">
                            В корзину
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>

